html{
    font-family: 'Rubik Mono One', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page{
    height: 100vh;
    width: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.section{
    height: 100vh;
    width: 100%;
    position: relative;
}

.n1{
    background-color: red;
}

.n2{
    background-color: green;
}

.n3{
    background-color: yellow;
}

.contenitore-img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.testo{
    text-transform: uppercase;
    text-align: center;
    font-size: 3em;
    position:absolute;
    bottom: 1%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.txt-yellow{
    color: yellow;
}

.txt-green{
    color: green;
}

nav{
    position: absolute;
    right: 0%;
    top: 10%;
    z-index: 9000;
    position: fixed;
}

.button{
    color: black;
    background-color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: none;
    line-height: 50px;
    text-align: center;
    box-shadow: 4px 4px 1px black;
    font-size: 16px;
    font-weight: 900;
    margin-right: 2em;
    display: inline-block;
    text-decoration: none;
    line-height: 50px;
    scroll-behavior: smooth;
}

.button:hover{
    filter: brightness(80%);
}

